[Desktop Entry]
Encoding=UTF-8
Name=Galilel
Comment=Galilel P2P Cryptocurrency
Exec=galilel-qt %u
Terminal=false
Type=Application
Icon=galilel128
MimeType=x-scheme-handler/galilel;
Categories=Office;Finance;
