[Unit]
Description=Galilel's distributed currency daemon
After=network.target

[Service]
User=galilel
Group=galilel

Type=forking
PIDFile=/var/lib/galileld/galileld.pid

ExecStart=/usr/bin/galileld -daemon -pid=/var/lib/galileld/galileld.pid \
          -conf=/etc/galilel/galilel.conf -datadir=/var/lib/galileld

ExecStop=-/usr/bin/galilel-cli -conf=/etc/galilel/galilel.conf \
         -datadir=/var/lib/galileld stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
